.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  width: 30%;
  position: relative;
}

.imageContainer {
  width: 55%;
}

.imageContainer img {
  width: 100%;
}

.pageList {
  padding-left: 2em;
  list-style-type: circle;
}

@media only screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }

  .imageContainer {
    width: 70%;
  }

  .content {
    width: 60%;
    margin: 0 auto;
    /* margin-left: 12rem; */
  }

  .pageList li {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 768px) {
  .pageList li {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 550px) {
  .container {
    /* margin-top: 1rem; */
    /* padding-bottom: 3rem; */
    height: initial;
    margin-top: 4rem;
  }

  .imageContainer {
    width: 90%;
    /* display: none; */
  }

  .content {
    width: 100%;
    padding: 0 1rem;
  }

  .pageList li {
    margin-bottom: 0;
  }
}
