.about {
  width: 50%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 2em 3em;
  background: var(--dark-bg);
}

@media only screen and (max-width: 426px) {
  .about {
    width: 80%;
    margin-top: 2em;
  }
}
