.blogPost {
  width: 70%;
  margin-left: 5%;
  padding: 2em 5em;
}

nav {
  width: 70%;
  margin-left: 5%;
  margin-top: 2em;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

nav ul a {
  color: var(--text);
  border: 2px solid var(--highlight);
  padding: 15px 50px;
  text-transform: uppercase;
}

nav ul a:hover {
  color: var(--text);
  box-shadow: none;
  background: var(--highlight);
}

.tags ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
}

.tags ul a {
  padding: 5px 15px;
  margin: 5px;
  font-size: 0.9em;
  border-radius: 30px;
  text-align: center;
  border: 1px solid var(--highlight);
  color: var(--text);
}

.tags ul li {
  margin-bottom: 0;
}

.tags ul a:hover {
  box-sizing: none;
  background: var(--highlight);
}

section {
  padding-bottom: 1em;
}