.blogContent {
  width: 75%;
  max-width: 90em;
  margin: auto;
  margin-top: 6em;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.blogContent p {
  margin-bottom: 3rem;
}

article {
  overflow: hidden;
  margin: -2px auto 1em auto;
  padding: 4em 4em 3em 4em;
  background-color: var(--dark-bg);
  position: relative;
  z-index: 0;
}

.blogContent article {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 48%;
  margin: 0.5rem;
  padding: 0;
}

.blogContent article p {
  margin: 1rem 0 3rem 0;
  padding: 0 2rem;
}

article header {
  z-index: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2em;
}

article header h1 {
  margin: 0;
  padding: 0 1rem;
  font-family: "Bebas Neue", sans-serif;
}

header h1 a {
  display: block;
}

header h1 a:hover {
  color: var(--highlight);
  border: none;
}

section {
  margin-top: 1em;
}

.readMore {
  text-align: center;
  font-family: var(--header-font);
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

.readMore a,
.allTags a,
.paginationUrls a {
  color: var(--header);
  border: 2px solid var(--highlight);
  padding: 15px 50px;
  text-transform: uppercase;
  border-radius: 35px;
}

.readMore a {
  color: var(--text);
}

.allTags {
  margin-bottom: 6em !important;
}

.readMore a:hover,
.allTags a:hover,
.paginationUrls a:hover {
  box-shadow: none;
  background: var(--highlight);
}

.date {
  font-family: var(--header-font);
  display: inline;
  padding: 0 10px;
  font-size: 0.9em;
  font-weight: 400;
}

.postSubtitle {
  font-size: 1.25rem;
  margin-top: 1rem;
  display: inline-block;
  margin-bottom: -2rem;
  background: var(--highlight);
  color: var(--menu-bg);
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
  text-shadow: none;
}

blockquote {
  color: var(--text);
  border-left-color: var(--highlight);
}

.allTags {
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 2em;
}

.postImageContainer {
  margin-bottom: 1.5rem;
}

.tagSummary {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.tag {
  margin: 0 2px;
  padding: 5px 15px;
  background: var(--dark-highlight);
  border-radius: 25px;
  font-size: 0.9rem;
}

@media only screen and (max-width: 1366px) {
  .blogContent {
    width: 65%;
  }

  .blogContent article {
    width: 100%;
  }

  article {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .blogContent {
    width: 80%;
  }

  article {
    padding: 2em;
  }

  .tagSummary {
    display: flex;
    flex-direction: column;
    right: -20px;
  }

  .tag {
    margin: 3px 0;
    padding-right: 30px;
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  .impressions {
    position: relative;
    top: 1.25rem;
    left: 0;
    justify-content: center;
  }
}

@media only screen and (max-width: 550px) {
  .blogContent {
    width: 100%;
    margin-top: 1rem;
  }

  article {
    width: 96%;
    padding: 2em;
    border-radius: 0;
  }

  .postSubtitle {
    font-size: 1.1rem;
  }

  .paginationUrls {
    width: 100%;
  }
}
