.blogPost {
  width: 60%;
  margin-left: 20%;
  padding: 2em 5em;
}

blockquote {
  font-size: 1em;
}

nav {
  width: 60%;
  margin-left: 20%;
  margin-top: 2em;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

nav ul a {
  color: var(--text);
  border: 2px solid var(--highlight);
  padding: 15px 50px;
  text-transform: uppercase;
  display: inline-block;
}

nav ul a:hover {
  color: var(--text);
  box-shadow: none;
  background: var(--highlight);
}

.tags ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  margin-bottom: 0;
}

.tags ul a {
  padding: 5px 15px;
  margin: 5px;
  font-size: 0.8em;
  font-weight: 400;
  border-radius: 30px;
  text-align: center;
  border: 1px solid var(--highlight);
  color: var(--text);
}

.tags ul li {
  margin-bottom: 0;
}

.tags ul a:hover {
  box-sizing: none;
  background: var(--highlight);
}

section {
  padding-bottom: 1em;
}

@media only screen and (max-width: 768px) {
  .blogPost {
    width: 90%;
    margin-left: 5%;
    margin-top: 1em;
    padding: 0.5em 1em;
  }

  article header h1 {
    font-size: 2em;
  }

  .paginationUrls {
    width: 100%;
  }

  ul {
    margin: 0;
  }

  li {
    margin-bottom: 2em;
  }

  nav {
    width: 100%;
    margin: 0;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 426px) {
  article {
    width: 100%;
  }

  .blogPost {
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding: 0.5em 1em;
    border: none;
  }

  article header h1 {
    font-size: 2em;
  }

  .paginationUrls {
    width: 100%;
  }

  ul {
    margin: 0;
  }

  li {
    margin-bottom: 2em;
  }

  nav {
    width: 100%;
    margin: 0;
    margin-top: 2em;
  }
}
