.blogContent {
  width: 75%;
  margin: auto;
  margin-top: 4.5em;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

article {
  overflow: hidden;
  margin: 1em auto;
  padding: 4em 4em 3em 4em;
  background-color: var(--dark-bg);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  z-index: 0;
}

article header {
  z-index: 0;
  margin-bottom: 1.5em;
  font-size: 1.2em;
}

article header h1 {
  margin: 0 0 10px 0;
}

header h1 a:hover {
  color: var(--highlight);
  border: none;
}

section {
  margin-top: 1em;
}

.readMore {
  text-align: center;
  font-family: var(--header-font);
  letter-spacing: 2px;
  margin-top: 4em;
}

.readMore a,
.allTags a,
.paginationUrls a {
  color: var(--header);
  border: 2px solid var(--highlight);
  padding: 15px 50px;
  text-transform: uppercase;
  border-radius: 35px;
}

.allTags {
  margin-bottom: 6em !important;
}

.readMore a:hover,
.allTags a:hover,
.paginationUrls a:hover {
  box-shadow: none;
  background: var(--highlight);
}

.date {
  font-family: var(--header-font);
  display: inline;
  padding: 0 10px;
  font-size: 0.7em;
  font-weight: 200;
}

.postSubtitle {
  font-size: 2.25rem;
  margin-top: 1rem;
  display: block;
  margin-bottom: -2rem;
}

blockquote {
  color: var(--text);
  border-left-color: var(--highlight);
}

.allTags {
  text-align: center;
  width: 90%;
  margin: auto;
  padding: 2em;
}

.postImageContainer {
  width: 100%;
  background-position: bottom center;
  background-repeat: repeat-y;
  background-size: cover;
  position: static !important;
  opacity: 1 !important;
  color: var(--header);
}

@media only screen and (max-width: 1366px) {
  .blogContent {
    width: 65%;
  }

  article {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  .blogContent {
    width: 80%;
  }

  article {
    padding: 2em;
  }
}

@media only screen and (max-width: 550px) {
  .blogContent {
    margin-top: 0;
    width: 100%;
  }

  article {
    width: 96%;
    padding: 2em;
    border-radius: 0;
  }

  .postSubtitle {
    font-size: 1.5rem;
  }

  .paginationUrls {
    width: 100%;
  }
}
