.sectionContent {
  width: 50%;
  margin: auto;
}

.contact {
  margin-top: 80px;
  margin-bottom: 100px;
  text-align: center;
}

.contactButton {
  font-size: 1.5em;
  padding: 20px 80px;
  border: 1px solid;
}

.contact a {
  box-shadow: 0 0 0 rgb(27, 155, 139) inset;
}

.contact a:hover {
  box-shadow: 0 -90px 0 rgb(27, 155, 139) inset;
}

.contact h1 {
  margin-bottom: 80px;
}

.social {
  margin-top: 50px;
  font-size: 2.5em;
}

.social a {
  padding: 0 20px;
}
