.contact {
  text-align: center;
  width: 50%;
  margin: 1em auto 4em auto;
  background: var(--dark-bg);
  padding: 2em 3em 1em 3em;
}

.contactButton {
  font-size: 1.5em;
  padding: 20px 80px;
  border: 1px solid;
}

.contact a {
  color: var(--text);
  font-size: 0.8em;
}

.contact a:hover {
  color: var(--highlight);
  box-shadow: none;
}

.contact h2 {
  margin-top: 0;
  margin-bottom: 2em;
  font-weight: 400;
}

.formControl {
  text-align: center;
}

input {
  width: 49.5%;
  margin: 5px 0;
  line-height: 3em;
}

textarea {
  width: 100%;
  line-height: 2em;
  margin-top: 1px;
}

button {
  color: var(--text);
  border: 2px solid var(--highlight);
  padding: 15px 90px;
  text-transform: uppercase;
  background: transparent;
  line-height: 1.75em;
  font-family: "Oswald";
  letter-spacing: 2px;
  border-radius: 35px;
}

button:hover {
  background: var(--highlight);
  cursor: pointer;
}

button:focus {
  background: var(--highlight);
}

.contact h3 {
  margin-bottom: 2em;
  line-height: 1.5em;
  font-weight: 400;
}

form {
  padding: 0 5px;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form div {
  width: 100%;
  margin-top: 1em;
}

@media only screen and (max-width: 1024px) {
  .contact {
    width: 80%;
    margin-top: 2em;
  }
}

@media only screen and (max-width: 426px) {
  .contact {
    width: 100%;
    margin: 0;
    padding: 1em;
  }

  .contact h3 {
    font-size: 1em;
    margin-top: 2em;
  }

  input {
    width: 100%;
  }

  textarea {
    margin-top: 5px;
  }

  form {
    font-size: 0.9em;
  }

  button {
    width: 100%;
  }
}
