@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500&display=swap");

:root {
  --dark-bg: #0c2233;
  --menu-bg: var(--dark-bg);
  --highlight: #fd7014;
  --highlight-secondary: #c3e88d;
  --text: #eeeeee;
  --text-menu: #eeeeee;
  --menu-shadow: #13171c;
  --header: #eeeeee;
  --rightCard: #061724;
  --blogPostBackground: var(--rightCard);

  --portfolio-bg: var(--dark-bg);
  --portfolio-highlight: var(--highlight-secondary);
  --portfolio-tech-background: transparent;
  --portfolio-font-weight: 400;
}

body {
  margin: 0 0 55px;
  font-family: "Poppins", sans-serif;
  font-size: 1.3em;
  overflow-x: hidden;
  color: var(--text);
  font-weight: 400;

  transition: background 300ms ease-in-out, color 600ms ease-in-out;

  background-color: var(--blogPostBackground);
  background-image: var(--backgroundImageTexture);
  background-blend-mode: luminosity;
}

body.light {
  --dark-bg: #ffffff;
  --text: #000000;
  --header: #eeeeee;
  --rightCard: #b0efff;
  --blogPostBackground: var(--rightCard);
  --lighImageBorder: var(--blogPostBackground);
  --highlight-secondary: var(--rightCard);
  --backgroundImageTexture: url("https://i.imgur.com/uWFkTSh.png");

  --portfolio-bg: transparent;
  --portfolio-highlight: var(--highlight);
  --portfolio-tech-background: var(--dark-bg);
  --portfolio-font-weight: 600;
}

html {
  position: relative;
  min-height: 100%;
}

main {
  margin-bottom: 60px;
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 50px 0;
  font-weight: 300;
}

a {
  color: var(--highlight);
  font-weight: 400;
  box-shadow: 0 0 0 var(--highlight) inset;
  padding: 0 3px;
}

a:hover {
  border-bottom: 1px solid var(--highlight);
}
