@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat&display=swap&subset=latin-ext");

:root {
  --dark-bg: #222831; 
  --light-bg: #393e46;;
  --highlight: #fd7014;
  --text: #eeeeee;
  --text-dark: #a0a0a0;
  --shadow: #13171c;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 55px;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  background-color: var(--dark-bg);
  overflow-x: hidden;
  color: var(--text);
}

h1 {
  font-size: 2em;
  text-align: center;
  margin: 50px 0;
  font-weight: 400;
}

a {
  color: var(--highlight);
  font-weight: 600;
  box-shadow: 0 0 0 var(--highlight) inset;
  padding: 0 3px;
  /* transition: all 0.2s; */
}

a:hover {
  box-shadow: 0 -1px 0 var(--highlight) inset;
}
