.heroContainer {
  margin: auto;
  width: 80%;
  height: 100%;
  background-image: url("../assets/heroSvg.svg");
  background-size: 50%;
  background-repeat: no-repeat;

  background-position: 0 20%;
}

.heroContainer h1 {
  font-size: 3em;
  margin: 0;
  margin-bottom: 2em;
  font-weight: var(--portfolio-font-weight);
}

.heroContainer h2 {
  font-size: 2em;
  margin: 0 auto;
  font-weight: 400;
  text-align: left;
  letter-spacing: 2px;
  width: 70%;
  font-weight: var(--portfolio-font-weight);
}

#wordHighlight {
  color: var(--highlight);
  display: inline-block;
}

#heroSvg {
  width: 50%;
}

.section {
  width: 50%;
  padding: 6em 3em;
  margin-left: 50%;
  position: relative;
}

.profileImageContainer {
  width: 30%;
  margin: 1em auto;
}

.profileImageContainer img {
  border-radius: 50%;
  border: 4px solid var(--highlight);
}

.tech {
  width: 100%;
  display: flex;
  margin: 2em auto;
  justify-content: center;
  flex-wrap: wrap;
}

.tech span {
  padding: 4px 2em;
  margin: 8px;
  color: var(--text);
  border-radius: 25px;
  display: block;
  font-weight: var(--portfolio-font-weight);
  letter-spacing: 1px;

  border: 2px solid var(--dark-highlight);
  background: var(--dark-highlight);
}

.words {
  display: inline;
  overflow: hidden;
}

.words span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: var(--text);
  text-indent: 10px;

  animation: rotateWords 15s linear infinite 0s;
}

.words span:nth-child(2) {
  animation-delay: 3s;
}

.words span:nth-child(3) {
  animation-delay: 6s;
}

.words span:nth-child(4) {
  animation-delay: 9s;
}

.words span:nth-child(5) {
  animation-delay: 12s;
}

@keyframes rotateWords {
  0% {
    opacity: 1;
    animation-timing-function: ease-in;
    height: 0px;
  }
  8% {
    opacity: 1;
    height: 60px;
  }
  19% {
    opacity: 1;
    color: var(--highlight);
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.button {
  text-align: center;
  font-family: "Oswald";
  letter-spacing: 2px;
}

.button a {
  color: var(--portfolio-call-to-action-color);
  border: 2px solid var(--portfolio-call-to-action-border);
  padding: 15px 50px;
  text-transform: uppercase;
  background: var(--portfolio-call-to-action-bg);
  border-radius: 35px;
}

.button a:hover {
  background: var(--portfolio-call-to-action-hover-bg);
  color: var(--portfolio-call-to-action-hover-color);
  border-color: var(--portfolio-call-to-action-hover-border);
}

@media only screen and (max-width: 1366px) {
  .section {
    padding: 2em 3em;
  }

  .heroContainer h1 {
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 1024px) {
  .section {
    padding: 2em 1em;
  }
}

@media only screen and (max-width: 768px) {
  .heroContainer {
    background-image: none;
  }

  .heroContainer h2 {
    width: 55%;
  }

  .section {
    width: 100%;
    margin: 0;
  }

  .tech {
    width: 70%;
  }
}

@media only screen and (max-width: 426px) {
  .heroContainer {
    width: 100%;
  }

  .heroContainer h1 {
    font-size: 2em;
  }

  .heroContainer h2 {
    font-size: 1.5em;
  }

  .section {
    padding: 1em 0;
  }

  .tech {
    width: 95%;
  }

  .tech span {
    font-size: 0.8em;
    margin: 5px;
  }
}
