.impressions {
  display: flex;
  justify-content: center;
  font-family: "Bebas Neue", sans-serif;
}

.impression {
  display: flex;
  align-items: center;
  margin-right: 0.5rem;
  font-size: 1rem;
}

.impressionIcon {
  margin-right: 0.4rem;
  fill: var(--highlight);
  position: relative;
  top: -0.1rem;
}

@media only screen and (max-width: 768px) {
  .impressions {
    justify-content: center;
  }
}
