body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    background-color: white;
    overflow-x: hidden;
}

.header {
    text-align: center;
    background: linear-gradient(90deg, rgb(27, 155, 139), rgb(124, 82, 162));
    padding-top: 30px;
    position: relative;
}

.header a {
    color: white;
    box-shadow: none;
}

.headerText {
    font-size: 5.5em;
    line-height: 1.6;
    font-family: 'Amatic SC';
    margin: auto;
    margin-bottom: 20px;
}

.headerText a {
    /* color: black;
    text-decoration: none; */
}

.hiddenLogoText {
    position: absolute;
    left: -75px;
    color: white;
    font-family: 'Amatic SC';
    font-size: 1.7em;
    opacity: 0;
    transition: all 0.4s;
    line-height: 1.5em;
}

.logoText {
    position: absolute;
    left: 20px;
    color: white;
    font-family: 'Amatic SC';
    font-size: 1.7em;
    opacity: 1;
    transition: all 0.4s;
    line-height: 1.5em;
}

.smallHeaderText:hover {
    /* color: white; */
}

#menu {
    display: flex; 
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgb(27, 155, 139), rgb(124, 82, 162));
}

#menu div {
    flex-basis: auto;
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px 10px 2px 10px;
    cursor: pointer;
    /* color: white; */
    text-transform: uppercase;
    height: 100%;
    line-height: 2.6em;
    margin: 0 15px;
}

#menu div:hover {
    box-shadow: 0 -3px 0 white inset;
}

.copyright {
    background: linear-gradient(90deg, rgb(27, 155, 139), rgb(124, 82, 162));
    text-align: center;
    font-size: 0.8em;
    color: white;
}

.copyright a {
    color: white;
    padding: 0 3px;
    transition: all 0.4s;
}

.copyright a:hover {
    background: white;
    color: black;
}

#menu div:hover {
    /* color: white; */
}





@media only screen and (max-device-width: 426px) {
    .headerText {
        font-size: 2.8em;
    }

    #menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

	#menu div {
        font-size: 0.7em;
        display: inline-block;
        padding: 0;
        font-weight: 400;
    }

    .logoText {
        display: none;
    }

    .copyright {
        font-size: 0.7em;
    }
}