header {
  text-align: center;
  position: relative;
  z-index: 1;
}

header a {
  color: var(--text);
  box-shadow: none;
}

.headerText {
  width: 100%;
  margin: auto;
  margin-bottom: 20px;
  position: absolute;
  top: 220px;
  font-family: "Source Code Pro";
  font-weight: 300;

  color: var(--header);
}

h1,
h2,
h3,
small {
  font-family: "Source Code Pro";
}

.headerTitle {
  font-size: 5.5em;
  line-height: 1.6;
  line-height: 120px;
}

.headerSubTitle {
  font-size: 2em;
  line-height: 1.6;
  font-weight: 400;
  line-height: 120px;
}

.logoText {
  position: absolute;
  left: 0px;
  font-family: "Source Code Pro";
  font-size: 1.3em;
  line-height: 2.7em;
  padding: 0 15px;
  font-weight: 300;
}

#menu {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--menu-bg);
  box-shadow: 0 0 5px var(--menu-shadow);
}

#menu div {
  flex-basis: auto;
  font-weight: bold;
  font-size: 0.8em;
  cursor: pointer;
  text-transform: uppercase;
  height: 100%;
  line-height: 4.1em;
  margin: 0 15px;
  padding: 5px 10px 2px 10px;
}

#menu a:hover {
  border-bottom: 3px solid var(--highlight);
}

header #menu a {
  color: var(--text-menu);
}

#lightMode {
  background-image: url("../assets/sun.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  filter: grayscale(100%);
  margin: 0 0 0 20px;
  padding: 0;
  border: none;
}

#lightMode:hover {
  filter: none;
  background-color: transparent;

  -webkit-animation: spin 10s linear infinite;
  -moz-animation: spin 10s linear infinite;
  animation: spin 10s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#lightMode:focus {
  background-color: transparent;
  outline: none;
}

.clicked {
  filter: none !important;
  background-color: transparent;
  border: none;
}

.copyright {
  background: var(--menu-bg);
  color: var(--text-menu);
  text-align: center;
  font-size: 0.8em;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 55px;
  width: 100%;
  overflow: hidden;
  padding: 15px 0;
}
/* 
video {
  width: 100vw;
} */

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  z-index: -100;
  background-size: cover;
  overflow: hidden;
}

#videoContainer {
  height: 500px;
  overflow: hidden;
  box-shadow: 0 0 10px var(--shadow);
  background-color: var(--shadow);
}

#menu .active {
  border-bottom: 3px solid var(--highlight);
}

@media only screen and (max-device-width: 1024px) {
  video {
    height: auto;
  }
}

@media only screen and (max-device-width: 426px) {
  .headerText {
    font-size: 2.8em;
  }

  #menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  #menu div {
    font-size: 0.7em;
    display: inline-block;
    padding: 0;
    font-weight: 400;
  }

  .logoText {
    display: none;
  }

  .copyright {
    font-size: 0.7em;
  }
}
