.projectsHeader {
  font-size: 3em;
  padding: 1em 0;
  margin: 0;
  font-weight: var(--portfolio-font-weight);
  color: var(--text);
}

.cardButton {
  text-align: center;
  font-family: var(--header-font);
  letter-spacing: 2px;
  margin: 0 1em;
}

.cardButton a {
  color: var(--call-to-action-color);
  border: 2px solid var(--call-to-action-border);
  padding: 15px 50px;
  text-transform: uppercase;
  background: var(--call-to-action-bg);
  border-radius: 35px;

  border-color: var(--highlight);
}

.cardButton.secondary a {
  background: var(--call-to-action-secondary-bg);
}

.cardButton.secondary a:hover {
  background: var(--highlight);
}

.cardButton a:hover {
  background: var(--call-to-action-hover-bg);
}

.buttonContainer {
  display: flex;
  padding: 4em 0;
  justify-content: center;
}

.portfolioProjectsContainer {
  width: 75%;
  margin: auto;
}

.projects {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1366px) {
  .portfolioProjectsContainer {
    width: 65%;
  }
}

@media only screen and (max-width: 1024px) {
  .portfolioProjectsContainer {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .projectsHeader {
    font-size: 2em;
  }

  .buttonContainer {
    flex-direction: column;
    padding: 3em 0 0 0;
  }

  .cardButton {
    margin-bottom: 3em;
  }

  .portfolioProjectsContainer {
    width: 100%;
    margin-top: 1rem;
  }
}
