.portfolioProjectsContainer {
  background: var(--dark-highlight);
  padding-bottom: 3em;
}

.projectsHeader {
  font-size: 3em;
  padding: 1em 0;
  margin: 0;
  font-weight: var(--portfolio-font-weight);
  color: var(--float-right-header);
}

.cardButton {
  text-align: center;
  font-family: "Oswald";
  letter-spacing: 2px;
  background-color: var(--dark-highlight);
}

.cardButton a {
  color: var(--header);
  border: 2px solid var(--float-right-button-border);
  padding: 15px 50px;
  text-transform: uppercase;
  background: var(--highlight);
  border-radius: 35px;
}

.cardButton a:hover {
  background: var(--dark-bg);
  color: var(--text);
}

@media only screen and (max-width: 426px) {
  .projectsHeader {
    font-size: 2em;
  }
}
