.card {
    height: 400px;
    position: relative;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    padding: 0 20px;
    margin-bottom: 7em;
}

.card img {
    width: 100%;
    height: auto;
    filter: opacity(85%);
    border-right: 7px solid var(--highlight);
}

.imageContainer {
    width:50%;
    height: 100%;
    overflow: hidden;
    display: inline-block;
}

.floatRight {
    float: right;
}

.floatRight img {
    border-left: 7px solid var(--highlight);
    border-right: none;
}

.card .content {
    width: 50%;
    height: 100%;
    display: inline-block;
    padding: 20px;
    position: absolute;
    top: 0;
    text-align: center;
    color: var(--text);
    font-weight: bold;
}

.card .tags {
    margin-top: 15px;
}

.card .name {
    font-size: 1.3em;
    margin-bottom: 1em;
}

.card span {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    font-size: 0.7em;
    border-radius: 30px;
    text-align: center;
    border: 1px solid white;
}

@media only screen and (max-device-width: 426px) {
    .card {
        height: 455px;
        margin: 50px 0;
    }

    .card .overlay {
        opacity: 1;
    }

    .card .cardTitle {
        opacity: 1;
    }
}