.card {
  display: block;
  overflow: auto;
  padding: 0 20%;
  margin: auto;
  padding-bottom: 3em;
  background: var(--dark-bg);
}

.card.floatRight {
  background-color: var(--dark-highlight);
}

.name {
  font-size: 2.5em;
  margin: 1em 0;
  text-align: center;
  font-family: var(--header-font);
  color: var(--highlight);
}

.floatRight .name {
  color: var(--float-right-header);
}

.description {
  font-size: 1.05em;
  padding: 0 0 0 3em;
}

.floatRight .description {
  padding: 0 3em 0 0;
}

.tags {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 0 0 3em;
}

.floatRight .tags {
  padding: 0 3em 0 0;
}

.tags span {
  padding: 5px 15px;
  margin: 5px;
  font-size: 0.8em;
  border-radius: 30px;
  text-align: center;
  border: 2px solid var(--dark-highlight);
  background: var(--dark-highlight);
}

.floatRight .tags span {
  border: 1px solid var(--dark-bg);
  background: var(--dark-bg);
}

.cardButton {
  text-align: center;
  margin-top: 1em;
  font-family: var(--header-font);
  letter-spacing: 2px;
}

.cardButton a {
  color: var(--text);
  border: 2px solid var(--highlight);
  padding: 15px 50px;
  text-transform: uppercase;
  background: var(--dark-bg);
  border-radius: 35px;
}

.cardButton a:hover {
  background-color: var(--highlight);
  color: var(--header);
}

.floatRight .cardButton a {
  border: 2px solid var(--float-right-button-border);
}

.floatRight .cardButton a:hover {
  color: var(--header);
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.fluidImageContainer {
  width: 50%;
  padding: 1px;
  border: 4px solid var(--lighImageBorder);
  margin-bottom: 3em;
}

.floatRight .fluidImageContainer {
  border: none;
}

.text {
  width: 50%;
}

.floatRight .fluidImageContainer {
  order: 2;
}

@media only screen and (max-width: 1024px) {
  .card {
    padding: 0 10%;
  }

  .description {
    font-size: 1em;
  }

  .tags {
    margin-top: 1em;
  }

  .tags span {
    font-size: 0.7em;
  }

  .cardButton {
    margin: 2em 0;
  }
}

@media only screen and (max-width: 768px) {
  .text {
    width: 100%;
    order: 2;
  }

  .fluidImageContainer {
    width: 100%;
  }

  .floatRight .fluidImageContainer {
    order: 1;
  }

  .description {
    padding: 0;
    text-align: center;
    margin-bottom: 1em;
  }

  .floatRight .description {
    padding: 0;
    text-align: center;
  }

  .tags {
    padding: 0;
    margin-bottom: 1em;
  }

  .floatRight .tags {
    padding: 0;
    margin-bottom: 1em;
  }

  .cardButton {
    margin-bottom: 3em;
  }
}

@media only screen and (max-width: 426px) {
  .card {
    padding: 0;
  }

  .name {
    font-size: 1.5em;
    padding: 0 5px;
  }

  .description {
    font-size: 0.9em;
    padding: 0 15px;
  }

  .floatRight .description {
    font-size: 0.9em;
    padding: 0 15px;
  }

  .tags span {
    font-size: 0.6em;
  }

  .fluidImageContainer {
    margin-bottom: 2em;
  }
}
