.projectCardList {
  width: 75%;
  margin: auto;
  margin-top: 4.5em;
  padding-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1366px) {
  .blogContent {
    width: 65%;
  }
}

@media only screen and (max-width: 1024px) {
  .blogContent {
    width: 80%;
  }
}

@media only screen and (max-width: 550px) {
  .blogContent {
    margin-top: 0;
    width: 100%;
  }
}
