.tags {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  margin: auto;
  margin-top: 1em;
  margin-bottom: 2em;
  padding: 1em 0 2em 0;
}

.tags a {
  text-align: center;
  color: var(--text);
  text-transform: uppercase;
  margin: auto;
  font-size: 1em;
  width: 250px;
  position: relative;
  background-color: var(--dark-bg);
  border: 2px solid var(--rightCart);
  padding: 1em;
}

.tags a:hover {
  box-sizing: none;
  box-shadow: none;
  border: none;
  color: var(--highlight);
}

.tags a span {
  background: var(--dark-bg);
  position: absolute;
  right: 10px;
  margin-left: 10px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  font-size: 0.8em;
}

.tags a:hover span {
  color: var(--highlight);
}
